<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

    <servlet>
        <servlet-name>BancoServlet</servlet-name>
        <servlet-class>br.com.atividade5.BancoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BancoServlet</servlet-name>
        <url-pattern>/banco</url-pattern>
    </servlet-mapping>

</web-app>